@{
    ViewBag.Title = "Home Page";
}

@section  Scripts{ 
    <script src="~/Scripts/displaybooked.js" type="text/javascript"></script>

}

@section AddToHead{
    <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css"/>
    }
<div id="container"></div>